
.project-mockups {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 90vh;
    margin-top: 2vh;
  }

  .project-three-mockups-left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 90vh;
    width: 50vw;
  }
  
  .project-three-mockups-right {
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: end; 
    justify-content: center;
    padding-right: 1vw; 
  }
  
  .project-three-mockups-text-container {
    border-radius: 20px;
    padding: 2vw;
    margin-bottom: 2vw; 
    margin-left: 2vw;
    width: 40vw;
  }

  .project-three-mockup-image {
    width: 90%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 
    -5px 0px 10px #c9b5cf;
  }
  
