#articles {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 0; 
}

.blog-header {
    font-size: 3.5vw;
    text-align: center;
    justify-content: center;
}

.blog-yellow {
    color: yellow;
}

@media (max-width: 1024px) {
    #articles {
      
        margin-bottom:5vh;
       
    }
    
    .blog-header {
        font-size: 4vw;
        text-align: center;
        justify-content: center;
    }
}


@media (max-width: 425px) {
    #articles {
        margin: 0 auto;
        margin-bottom:5vh;
        width: 100vw;
        max-width: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center; /* Align items to the start (left) */
        justify-content: center;
        text-align: center;
        padding-left: 2vw;
    }
    
    .blog-header {
        font-size: 10vw;
        text-align: center;
        justify-content: center;
    }
}