.article {
	display:flex;
    flex-direction: row;
    width: 90%;
    margin-bottom: 2rem;
}

.article a {
    text-decoration: none;
}

.article-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-left p {
    font-size: 1.7rem;
}

.article-right {
    width: 82%;
    border-radius: 20px;
    opacity: 0.6;
    flex-direction: column;
    text-align: left;
    height: auto;
    padding: 1rem;
}


.article-right h3 {
	color: #fff7f7;
	font-size: 2rem;
	font-weight: 600;
}

.article-right p {
    color: #fff7f7;
	font-size: 1.5rem;
	font-weight: 300;
}


.article-link {
    padding-top: 2rem;
    color:yellow;
    font-size: 1.5rem;
    justify-content: flex-start;
    align-items: flex-end;
    display: flex;
}

.article-icon {
    height: 1.1rem;
    width: 1.1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.6rem;
}

.article-right:hover {
	background: transparent;
	opacity: 1;
    border: 2px solid #9237a9; 

}

.article-right h3:hover {
    font-weight: 800;
}



@media (max-width: 425px) {
    .article {
        display:flex;
        flex-direction: row;
        width: 100%;
    }
    
    .article a {
        text-decoration: none;
    }
    
    .article-left {
        min-width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .article-left p {
        font-size: 3vw;
    }
    
    .article-right {
        flex-basis: 80%;
        mix-blend-mode: normal;
        border-radius: 20px;
        opacity: 0.6;
        padding: 5vw;
        flex-direction: column;
        text-align: left;
    }
    
    
    .article-right h3 {
        color: #fff7f7;
        font-size: 3.5vw;
        font-weight: 600;
    }
    
    .article-right p {
        color: #fff7f7;
        font-size: 2.4vw;
        font-weight: 300;
    }
    .article-link {
        padding-top: 2vh;
        color:yellow;
        font-size: 2.5vw;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
    }
    
    .article-icon {
        height: 1.7vh;
        width: 1.7vh;
        padding-left: 0.5vw;
    }
    
    .article-right:hover {
        background: transparent;
        opacity: 1;
        border: 2px solid #9237a9; 
    
    }
    
    .article-right h3:hover {
        font-weight: 800;
    }
}