.article {
	display:flex
}

.article a {
    text-decoration: none;
}

.article-left {
    min-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article-right {
    flex-basis: 80%;
    min-width: 300px;
    mix-blend-mode: normal;
    border-radius: 25px;
    opacity: 0.6;
    padding: 20px;
    flex-direction: column;
    text-align: left;
}

.article-right:hover {
	background: #423d3d;
	opacity: 1;
	transition: background-color 0.2s ease-in-out;
}

.article-title {
	color: #fff7f7;
	font-size: 16px;
	font-weight: 600;
}

.article-teaser {
	padding-top: 10px;
	font-size: 12px;
	font-weight: 480;
	line-height: 25px;
}
