

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh 5%;
    margin-bottom: 5vh;
}

.skills-title {
    font-size: 3vw;
    margin-bottom: 2vh;
}

.skills-yellow {
    color: yellow;
}

.skills-description-container {
    max-width: 55vw;
    font-size: 1.2vw;
    margin-bottom: 5vh;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vw;
    width: 100%;
}

.skill-card {
    flex: 1;
    max-width: calc(33.33% - 4vw); /* Three items per row minus gap */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(50, 50, 50);
    border-radius: 1vw;
    padding: 4vh;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5vw 1vw rgba(255, 255, 255, 0.1);
}

.skill-card:hover {
    transform: translateY(-1vw);
}

.skill-card-img {
    height: 6.5vw;
    width: 6.5vw;
    margin-bottom: 2vh;
}

.skill-card-text {
    width: 22vw;
}

.skill-card-text h2 {
    font-size: 1.2vw; 
    padding-bottom: 1vh;
}

.skill-card-text p {
    font-size: 0.9vw; 
    font-weight: 300;
    padding-bottom: 3vh;
}

.white-horizontal-bar-skill-card {
    height: 0.3vh; 
    background-color: white;
    max-width: 40vw;
    margin-bottom: 2vh; 
}

.skill-card-text h3 {
    font-size: 1vw; 
    padding-bottom: 2vh;
}

.skills-tech-stack-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 10vw)); 
  grid-gap: 1.5vw; 
  justify-items: center; 
  align-items: center;
  padding: 1vw; 
}

.skill-card-tech-icon-container {
    height: 2.5vw;
    width: 2.5vw;
}

.skill-card-tech-icon-container img {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

/* ------  Project Management -------- */
.project-management-card {
    width: 65vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    margin-top: 4vh;
    background: rgb(50, 50, 50);
    border-radius: 1vw;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 5vh;
   
}

.pm-logo-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 60vw;
}

.project-man-img {
    height: 6vw;
    width: 6vw;
    margin-right: 3vw;
}

.pm-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50vw;
    text-align: left;
}

.pm-text-container h2 {
    font-size: 2vw; 
}

.pm-text-container p {
    font-weight: 200;
    font-size: 0.9vw;
}



.pm-white-horizontal-bar {
    height: 0.5vh; 
    background-color: white;
    width: 60vw; 
    margin-top: 4vh;
    margin-bottom: 4vh; 
}

.pm-tech-stack-list {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 3vw;
}

.pm-icon-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:start;
    width: 50vw;
    text-align: left;
}

.pm-icon-text-container p {
    margin-bottom: 1vh;
    font-size: 0.9vw;
    font-weight: 300;
}

.pm-tech-icon{
    height: 5vw; 
    width: 5vw; 
    max-height: 50px;
    max-width: 50px; 
    object-fit: cover;
    margin-bottom: 2vh;
    margin-right: 1.5vw;
}


@media screen and (max-width: 1200px) {
    .skills-title {
        font-size: 4.5vw;
        margin-bottom: 2vh;
    }

    .skills-description-container {
        max-width: 70vw;
        font-size: 1.3vw;
        margin-bottom: 5vh;
    }

    .skill-card-text {
        width: 24vw;
    }

    
    .skill-card-text h2 {
        font-size: 1.8vw; 
        padding-bottom: 1vh;
    }
    
    .skill-card-text p {
        font-size: 1.2vw; 
        font-weight: 300;
        padding-bottom: 3vh;
    }
    
    .white-horizontal-bar-skill-card {
        height: 0.3vh; 
        background-color: white;
        max-width: 40vw;
        margin-bottom: 2vh; 
    }
    
    .skill-card-text h3 {
        font-size: 1.4vw; 
        padding-bottom: 2vh;
    }
} 



@media screen and (max-width: 1024px) {
    .skills-title {
        font-size: 4.5vw;
        margin-bottom: 2vh;
    }
    
    .skills-description-container {
        max-width: 70vw;
        font-size: 1.6vw;
        margin-bottom: 5vh;
    }

    .skill-card {
        max-width: calc(50% - 4vw); 
    }

    .skill-card-text {
        width: 35vw;
    }

    .skill-card-text h2 {
        font-size: 1.8vw; 
        padding-bottom: 1vh;
    }
    
    .skill-card-text p {
        font-size: 1.5vw; 
        font-weight: 300;
        padding-bottom: 3vh;
    }
    
    .white-horizontal-bar-skill-card {
        height: 0.3vh; 
        background-color: white;
        max-width: 40vw;
        margin-bottom: 2vh; 
    }
    
    .skill-card-text h3 {
        font-size: 1.4vw; 
        padding-bottom: 2vh;
    }

    /* Project Management Card */
    .pm-tech-stack-list {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 1.5vw;
    }
    

    .pm-text-container h2 {
        font-size: 2vw; 
    }
    
    .pm-text-container p {
        font-weight: 200;
        font-size: 1.5vw;
    }
    
    .pm-icon-text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:start;
        width: 50vw;
        text-align: left;
    }
    
    .pm-icon-text-container p {
        margin-bottom: 1vh;
        font-weight: 300;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 768px) {
    .skills-list {
        flex-direction: column; 
        align-items: center; 
    }

    .skill-card {
        max-width: 80vw; 
    }
  
   

    .skills-tech-stack-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 10vw)); 
        grid-gap: 1.5vw; 
      }

      .skill-card-text {
        width: 40vw;
    }

    .skill-card-text h2 {
        font-size: 2.1vw; 
        padding-bottom: 1vh;
    }
    
    .skill-card-text p {
        font-size: 1.8vw; 
        font-weight: 300;
        padding-bottom: 3vh;
    }
    
    .white-horizontal-bar-skill-card {
        height: 0.2vh; 
        background-color: white;
        max-width: 40vw;
        margin-bottom: 2vh; 
    }
    
    .skill-card-text h3 {
        font-size: 1.6vw; 
        padding-bottom: 2vh;
    }

    /* Project Management */
    .project-management-card {
        width: 80vw;
    }

    .pm-logo-title-container {
        width: 75vw;
        padding-left: 5vw;
    }

    .pm-tech-stack-list {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 0;
    }
    
    .pm-text-container h2 {
        font-size: 3vw; 
    }
    
    .pm-text-container p {
        font-weight: 200;
        font-size: 2vw;
    }
    
    .pm-icon-text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:start;
        width: 65vw;
        text-align: left;
    }
    
    .pm-icon-text-container p {
        margin-bottom: 1vh;
        font-weight: 300;
        font-size: 2vw;
    }
}


@media screen and (max-width: 660px) {
    .skills-title {
        font-size: 7vw;
        margin-bottom: 2vh;
    }
    
    .skills-description-container {
        max-width: 70vw;
        font-size: 2.4vw;
        margin-bottom: 3vh;
    }

    .skills-list {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

    .skill-card {
        max-width: 80vw; 
    }
  
   
    .skills-tech-stack-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 10vw)); 
        grid-gap: 1.5vw; 
        align-items: center;
        justify-content: center;
      }

      .skill-card-text {
        width: 40vw;
    }

    .skill-card-text h2 {
        font-size: 3vw; 
        padding-bottom: 1vh;
    }
    
    .skill-card-text p {
        font-size: 2.2vw; 
        font-weight: 300;
        padding-bottom: 3vh;
    }
    
    .white-horizontal-bar-skill-card {
        height: 0.2vh; 
        background-color: white;
        max-width: 40vw;
        margin-bottom: 2vh; 
    }
    
    .skill-card-text h3 {
        font-size: 2vw; 
        padding-bottom: 2vh;
    }

    /* Project Management */

    .project-management-card {
        width: 90vw;
    }

    
    .pm-tech-stack-list {
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 0;
    }
    
}

@media screen and (max-width: 660px) {
    .skills-title {
        font-size: 8vw;
        margin-bottom: 2vh;
    }
    
    .skills-description-container {
        max-width: 80vw;
        font-size: 3.1vw;
        margin-bottom: 3vh;
    }

    .skills-list {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
    }

    .skill-card {
        max-width: 100vw; 
    }
  
   
    .skills-tech-stack-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 10vw)); 
        align-items: center;
        justify-content: center;
        grid-gap: 2.4vw; 
        padding-left: 2.5vw;
      }

      .skill-card-tech-icon {
        height: 6vw; 
        width: 6vw; 
      }

      .skill-card-text {
        width: 100%;
    }

    .skill-card-text h2 {
        font-size: 5vw; 
        padding-bottom: 1vh;
    }
    
    .skill-card-text p {
        font-size: 3vw; 
        font-weight: 300;
        padding-bottom: 3vh;
    }
    
    .white-horizontal-bar-skill-card {
        height: 0.2vh; 
        background-color: white;
        max-width: 100%;
        margin-bottom: 2vh; 
    }
    
    .skill-card-text h3 {
        font-size: 2.8vw; 
        padding-bottom: 2vh;
    }

    /* Project Management */

    .project-management-card {
        width: 100%;
    }

    .pm-logo-title-container {
        width: 100%;
        padding-left: 2vw;
    }

    
    .pm-tech-stack-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 6vw;
    }

    .pm-text-container h2 {
        font-size: 5vw; 
    }
    
    .pm-text-container p {
        font-weight: 200;
        font-size: 3vw;
    }

    .pm-white-horizontal-bar {
        height: 0.2vh; 
        background-color: white;
        width: 70vw; 
        margin-top: 2vh;
        margin-bottom: 2vh; 
    }
    
    .pm-icon-text-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:start;
        width: 70vw;
        text-align: left;
    }
    
    .pm-icon-text-container p {
        margin-bottom: 1vh;
        font-weight: 300;
        font-size: 2.5vw;
    }

    .pm-tech-icon {
        height: 6vw; 
        width: 6vw; 
    }
    
    
}

