
.project-details-container {
  background-image: url('../../assets/project-details/details-background-img.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh; /* or the height you desire */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.details-content {
  color: #fff;
  text-align: center;
  z-index: 2; 
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  
  width: 100vw;
  height: 100vh;
}

.side-bar {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  margin: 1em;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #e2e2e2;
}

.back-button svg {
  margin-right: 0.5em;
}
.title-container {
  align-self: flex-start; 
  margin-top: 10vh; 
  margin-right: 5vw; 
 
  /*border: 2px solid yellow; */
}

/* Lower details Container */
.lower-details {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  /*border: 3px solid red; */
  width: 100%;
  height: 90%;
}

.subtitle-description-wrapper {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  /* border: 3px solid pink; */
  height: 100%;
  width: 50%;
}

.subtitle-container {
  border:  2px solid #2E1E41; 
  padding: 0.3vw 0.8vw; 
  border-radius: 20px;
}

  .title {
    font-size: 4vw; 
    margin-bottom: 1rem;
   
  }

  .subtitle {
    font-size: 0.9vw;
    color: yellow;
    font-weight: 400;
  }

  .description-container {
    margin-top: 8vh;
    transition: transform 0.3s ease;
    border: 2px solid #2E1E41; 
    box-shadow: 0 0.5vw 1vw rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 40vh;
    text-align: left;
    border-radius: 20px;
    padding: 1vw;
  }
  
  .description {
    font-size: 1vw;
  }
  
  .info-sections {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 75%;
    margin-top: 16vh;
    margin-right: 6vw;
    margin-left: 2vw;
  }

  .tech-stack-card {
    padding-top: 2vh;
    padding-bottom: 2vh;
  
    background: rgb(50, 50, 50);
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5vw 1vw rgba(255, 255, 255, 0.1);
    height: 35vh;
    width: 30vw;
    border-radius: 25px;
  }
  
  .tech-stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center; 
    align-items: center;
    gap: 3vw;
    padding: 2vw;
    
  }

  .project-tech-icon {
    height: 5vw; 
    width: 5vw; 
    max-height: 50px;
    max-width: 50px; 
    object-fit: cover;
  }

  .buttons-container {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 4vh;  
    width: 100%;
  
  }
  
  .open-project-btn {
    display: block; 
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    margin-right: 1.5vw;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .open-project-btn:hover {
    background-color: #ddd;
  }

  .back-button {
    padding: 0.5vh 1vw;
    border: 1px solid white; 
    border-radius: 20px;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #faf9f7; 
    color: black;
}


/* Project Image and Text */

.project-screens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 80vh;
}

.left {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  max-width: 50%;
}

.project-text-container {
  border: 3px solid #2E1E41;
  border-radius: 20px;
  padding-left: 2vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-right: 1vw;
  margin-bottom: 2vw; 
  width: 40vw;
}

.project-text-container h2 {
  font-size: 2vw; 
  color: #fff;
}

.project-text-container p {
  font-size: 1vw; 
  color: white; 
  font-weight: 200;
}

.portfolio-yellow {
  color: yellow;
  font-weight: 600;
  font-size: 1.3vw;
}

.bold-white {
  color: white;
  font-weight: 600;
  font-size: 1.1vw;
}

.right {
  width: 50vw;
}

.project-bg-image {
    max-width: 100%; 
    height: 100vh;
    object-fit: cover;
}











  
  @media (max-width: 768px) {
    .info-sections {
      flex-direction: column; /* Stack the info blocks on smaller screens */
    }
  
    .open-project-btn {
      width: 100%; /* Full-width button on smaller screens */
    }
  }
  