#allProjects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 5%;
    margin-bottom: 5rem;
    width: 100%;
}

.background-image-allprojects {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100%; 
    object-fit: fill; 
    z-index: -1; 
}

.allProjects-intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50dvh;
    width: 100%;
    margin-bottom: 2rem;
}

.intro-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center;
    height: 50dvh;
    width: 50%;
    padding-right: 2rem;
}

.ap-profile-container {
    width: 38%;
    height: 65%;
    position: relative;
}

.intro-profile-image {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.intro-container-right {
    width: 50%;
    height: 50dvh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    padding-left: 2rem;
    
}

.all-projects-intro-text-container {
    text-align: left;
}

.all-projects-intro-text-container h2{
   font-size: 3rem;
}

.all-projects-intro-text-container h3{
    font-size: 1.8rem;
}

.buttons-row-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    margin-right: 2rem;
}

.get-in-touch {
    padding-top: 1rem;
    padding-left: 1.3rem;
    padding-bottom: 1rem;
    padding-right: 1.3rem;
    border: 2px solid #9237a9; 
    border-radius: 20px;
    font-size: 1.2rem;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin-right: 1rem;
    color: yellow;
}


.get-in-touch:hover {
    background-color: #faf9f7; 
    color: black;
    border: 2px white;
}

.portfolio-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    width: 100%; 
    margin: 0 auto;
}


/* Container */
.pf-project-container {
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%; 
    transition: box-shadow 0.3s;
    height: 0; 
    padding-bottom: 56.25%; 
}

.project-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.project-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 20px;/* Keep the rounded corners */
   
}

.pf-project-container:hover .pf-project-info-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.pf-project-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E1E41;
    opacity: 0.8;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity 0.3s, visibility 2s, transform 0.3s; 
}

.pf-project-info-container h3  {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.pf-project-info-container p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.787); 
    margin-bottom: 2rem;
}

.pf-project-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.pf-project-container button {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border: 2px solid white; 
    border-radius: 20px;
    font-size: 1.5em;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.pf-project-container button:hover {
    background-color: #faf9f7; 
    color: black;
}



@media (max-width: 768px) {
    .allProjects-intro-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 40vh;
        width: 90vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    
    .intro-container-left {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        height: 100%;
        width: 70%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
    .intro-profile-image {
        border-radius: 50%;
        width: 100%;
        height: 90%;
        object-fit: cover;
        border: 3px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    
    .intro-container-right {
        width: 60%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center;
        margin-left: 2vw;
        
    }
    
    .all-projects-intro-text-container {
        text-align: left;
    }
    
    .all-projects-intro-text-container h2{
       font-size: 4vw;
    }
    
    .all-projects-intro-text-container h3{
        font-size: 2.5vw;
    }
    
    .buttons-row-container {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-right: 2vw;
    }
    
    .get-in-touch {
        padding-top: 1vh;
        padding-left: 1.3vw;
        padding-bottom: 1vh;
        padding-right: 1.3vw;
        border: 2px solid #9237a9; 
        border-radius: 20px;
        font-size: 1.7vw;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
        margin-top: 1vh;
        margin-right: 3vw;
        color: yellow;
    }
    
    
    .get-in-touch:hover {
        background-color: #faf9f7; 
        color: black;
        border: 2px white;
    }


    .portfolio-projects-grid {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }

    .portfolio-title {
        margin-bottom: 1vw;
        font-size: 5vw;
    }
    
    .portfolio-intro {
        font-weight: 300;
        font-size: 2vw;
        max-width: 65vw;
        margin-bottom: 4vh;
    }

    .project-title {
        font-size: 3vw;
        font-weight: 600;
        color: white;
    }
    
    .project-label {
        font-size: 1.9vw;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 2vh;
    }
    .pf-link-button {
        padding-top: 1vh;
        padding-left: 2vw;
        padding-bottom: 1vh;
        padding-right: 2vw;
        border: 2px solid white; 
        border-radius: 20px;
        font-size: 1.7vw;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
    }
    
    .pf-link-button:hover {
        background-color: #faf9f7; 
        color: black;
    }
}

@media (max-width: 425px) {

    .allProjects-intro-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 40vh;
        width: 90vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    
    .intro-container-left {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        height: 100%;
        width: 70%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
    .intro-profile-image {
        border-radius: 50%;
        width: 100%;
        height: 55%;
        object-fit: cover;
        border: 3px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    
    .intro-container-right {
        width: 60%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center;
        margin-left: 2vw;
        
    }
    
    .all-projects-intro-text-container {
        text-align: left;
    }
    
    .all-projects-intro-text-container h2{
       font-size: 4vw;
    }
    
    .all-projects-intro-text-container h3{
        font-size: 2.5vw;
    }
    
    .buttons-row-container {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-right: 2vw;
    }
    
    .get-in-touch {
        padding-top: 1vh;
        padding-left: 1.3vw;
        padding-bottom: 1vh;
        padding-right: 1.3vw;
        border: 2px solid #9237a9; 
        border-radius: 20px;
        font-size: 2.3vw;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
        margin-top: 1vh;
        margin-right: 3vw;
        color: yellow;
    }
    
    
    .get-in-touch:hover {
        background-color: #faf9f7; 
        color: black;
        border: 2px white;
    }

    .portfolio-title {
        margin-bottom: 1vh;
        font-size: 10vw;
    }
    
    .portfolio-intro {
        font-weight: 300;
        font-size: 3.5vw;
        max-width: 100%;
        margin-bottom: 2vh;
    }

    .portfolio-projects-grid {
        grid-template-columns: 1fr; /* 1 column for mobile */
        gap: 3.2vh;
        margin-left: 0;
    }

    .pf-project-container {
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: box-shadow 0.3s;
        width: 90vw;
        height: 35vh;
    }
    
    .project-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
    
    .project-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 20px;/* Keep the rounded corners */
        border: 1px solid #2E1E41; 
    }

    .project-title {
        font-size: 5vw;
        font-weight: 600;
        color: white;
    }
    
    .project-label {
        font-size: 3.2vw;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 2vh;
    }

    .pf-link-button {
        border-radius: 15px;
        font-size: 1.5vh;
    }
    
    .all-projects-button {
        margin-top: 4vh;
        padding-top: 1.2vh;
        padding-left: 2.1vw;
        padding-bottom: 1.4vh;
        padding-right: 2.1vw;
        border: 2px solid  #9237a9; 
        border-radius: 20px;
       
        font-size: 4vw;
    }
    
}