#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.imgTitle {
    position: absolute;
    top: 0; /* Align to the top of the container */
    width: 100%; /* Match the width of the container */
    background-color: rgb(11, 11, 26); /* Semi-transparent black background */
    color: white; 
    text-align: center;
    font-size: 0.95rem;
    padding: 0.5rem 0; /* Some padding at the top and bottom */
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold;
    z-index: 10;
}

.worksImgs {
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    filter: grayscale(25%);
    max-width: 65rem;
    padding: 50px;
}

.worksImg {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    padding-bottom: 15px;
}


@media screen and (max-width:585px) {
    .worksImg {
        height: 48vw;
    }
}