#works {
    margin: 0 auto;
    margin-bottom: 150px;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem; /* Adjusted to allow for larger project containers */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Set to two columns */
    gap: 2rem; /* This adds space between grid items */
    width: 90vw;
    max-width: 80rem; /* Match the max-width of #works for alignment */
    padding: 4rem 1rem; /* Reduced side padding to fit within #works */
    margin-bottom: 0;
    justify-content: center;
   
}

.project-container {
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* This will separate the image from the buttons */
    padding: 1rem; 
    align-items: center; /* Center-align the child elements */
    text-align: center; 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); 
    transition: box-shadow 0.3s; 
}

.project-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.project-image-container {
    width: calc(100% - 2rem); /* Adjust width to account for padding */
    
    overflow: hidden; /* Hide overflow to maintain border-radius */
    position: relative; /* Set position relative for aspect ratio spacing */
    padding-top: 56.25%; /* This sets an aspect ratio of 16:9 */
    border-radius: 20px;
    margin-top: 0.5rem;
   
}

.project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
}

.topBar, .buttonBar {
    width: calc(100% - 2rem); /* Subtract the padding from the width */
    margin: 0 1rem; /* Add horizontal margin to match the image's margin */
}

.project-title, .project-subtitle {
    margin: 1rem 0; /* Add vertical margin for spacing */
}

.project-title {
    position: relative;
    color: White; 
    text-align: center;
    font-size: 0.95rem;
    
    font-size: 1.25rem; /* Adjust the font size as needed */
    font-weight: bold;
   
}

.portfolioYellow {
    color: yellow;
}

.worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}



.buttonBar {
    display: flex;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    padding-top: 10px;
  
}

  
  .imgButton {
    padding: 0.5rem 1rem; /* Add some padding inside the buttons */
    border: 2px solid white; /* Remove border */
    border-radius: 5px; /* Optionally round the button corners */
    color: white; /* Text color */
    background-color: transparent; /* Use a color that matches your design */
    cursor: pointer; /* Change the cursor on hover */
    text-decoration: none; /* Remove text decoration */
    font-weight: bold;
    transition: background-color 0.3s;
    width: auto; /* Auto width instead of 100% to not stretch */
    margin: 0.5rem; /* Add some margin around the buttons */
  }
  
  .imgButton:hover {
    background-color: #faf9f7; 
    color: black;
  }

  .imgButton:first-child {
    margin-left: 1rem; /* Add left margin to the first button */
}

.imgButton:last-child {
    margin-right: 1rem; /* Add right margin to the last button */
}

  @media screen and (max-width:768px) {
    .worksImgs {
        padding: 2rem; /* Less padding on smaller screens */
    }
}

@media screen and (max-width:585px) {
    .worksImg {
        height: auto; /* Adjust height to maintain aspect ratio */
    }
}