#works {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5vh 5%;
    margin-bottom: 15vh;
}

.portfolio-title {
    margin-bottom: 1vw;
    font-size: 3vw;
}

.portfolio-yellow {
    color: yellow;
}

.all-projects-purple {
    color: #9237a9; 
    font-weight: 500;
}


.portfolio-intro {
    font-weight: 300;
    font-size: 1.2vw;
    max-width: 55vw;
    margin-bottom: 4vh;
}

.portfolio-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    width: 80vw; 
    margin: 0 auto;
}


/* Container */
.pf-project-container {
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%; /* Responsive width */
    transition: box-shadow 0.3s;
    height: 0; /* Set to 0 to use padding-bottom for aspect ratio */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.project-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.project-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 20px;/* Keep the rounded corners */
    border: 1px solid #2E1E41; 
}

.pf-project-container:hover .pf-project-info-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}



.pf-project-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E1E41;
    opacity: 0.8;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity 0.3s, visibility 2s, transform 0.3s; 
}

.project-title {
    font-size: 1.2vw;
    font-weight: 600;
    color: white;
}

.project-label {
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.787); 
    margin-bottom: 2vh;
}

.pf-project-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.pf-link-button {
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    padding-right: 2vw;
    border: 2px solid white; 
    border-radius: 20px;
    font-size: 1.2vh;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.pf-link-button:hover {
    background-color: #faf9f7; 
    color: black;
}

.all-projects-button {
    margin-top: 4vh;
    padding-top: 1vh;
    padding-left: 2vw;
    padding-bottom: 1vh;
    padding-right: 2vw;
    border: 2px solid  #9237a9; 
    border-radius: 25px;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 0 0.5vw #9237a9; 
    font-size: 1.1vw;
}

.all-projects-button:hover {
    background-color: #faf9f7; 
    color: black;
}




/* Responsive adjustments with media queries */
@media (max-width: 1200px) {
    .portfolio-projects-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }

    .portfolio-title {
        margin-bottom: 1vw;
        font-size: 4.5vw;
    }
    
    .portfolio-intro {
        font-weight: 300;
        font-size: 1.7vw;
        max-width: 70vw;
        margin-bottom: 4vh;
    }
}

@media (max-width: 768px) {
    .portfolio-projects-grid {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }

    .portfolio-title {
        margin-bottom: 1vw;
        font-size: 5vw;
    }
    
    .portfolio-intro {
        font-weight: 300;
        font-size: 2vw;
        max-width: 65vw;
        margin-bottom: 4vh;
    }

    .project-title {
        font-size: 2.4vw;
        font-weight: 600;
        color: white;
    }
    
    .project-label {
        font-size: 1.6vw;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 2vh;
    }
}

@media (max-width: 425px) {
    .portfolio-title {
        margin-bottom: 1vh;
        font-size: 10vw;
    }
    
    .portfolio-intro {
        font-weight: 300;
        font-size: 3.5vw;
        max-width: 100%;
        margin-bottom: 2vh;
    }

    .portfolio-projects-grid {
        grid-template-columns: 1fr; /* 1 column for mobile */
        gap: 3.2vh;
        margin-left: 0;
    }

    .pf-project-container {
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: box-shadow 0.3s;
        width: 90vw;
        height: 35vh;
    }
    
    .project-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
    
    .project-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 20px;/* Keep the rounded corners */
        border: 1px solid #2E1E41; 
    }

    .project-title {
        font-size: 5vw;
        font-weight: 600;
        color: white;
    }
    
    .project-label {
        font-size: 3.2vw;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 2vh;
    }

    .pf-link-button {
        border-radius: 15px;
        font-size: 1.5vh;
    }
    
    .all-projects-button {
        margin-top: 4vh;
        padding-top: 1.2vh;
        padding-left: 2.1vw;
        padding-bottom: 1.4vh;
        padding-right: 2.1vw;
        border: 2px solid  #9237a9; 
        border-radius: 20px;
       
        font-size: 4vw;
    }
    
}