
  #intro {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted for spacing around items */
    flex-direction: row;
    text-align: left;
    padding: 4vw; /* Use viewport width units for padding */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
    overflow: hidden; /* Ensures no scrolling due to absolute positioning */
  }
  
  .background-image {
    object-fit: cover;
    object-position: 10% 40%;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}
  
  .intro-content {
    max-width: 54vw; /* Use viewport width units for max-width */
    padding: 2vw;
    color: white;
    
    margin-left: 2vw;
  }
  
  .hello {
    font-size: 3vw; /* Use viewport width units for font size */
    font-weight: bold;
    line-height: 1.2; /* Closer line spacing */
  }
  
  .name {
    color: yellow;
  }
  
  .intro-description {
    font-size: 1.3vw; /* Adjust font size responsively */
    font-weight: normal;
    margin-top: 1rem;
  }
  
  .social-links {
    display: flex;
    margin-top: 2rem;
  }
  
  .social-links img {
    height: 2.5rem; /* Smaller social icons */
    margin-right: 1rem;
  }
  
  .profile-picture-container {
    position: absolute;
    max-width: 32vw; /* Use viewport width units for width */
    max-height: 32vw; /* Use viewport width units for height */
    top: 35%;
    right: 10%; /* Align to the right with some padding */
    transform: translateY(-50%); /* Center vertically */
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Larger screens: Adjust layout to row */
  @media (max-width: 768px) {
    .intro-content {
      text-align: left; /* Center-align the text */
      margin-top: 2vw; /* Move text below the profile picture */
    }
  
    .profile-picture-container {
      max-width: 35vw; /* Use viewport width units for width */
      max-height: 35vw; /* Use viewport width units for height */
      top: 25%;
      right: 10%; /* Align to the right with some padding */
      transform: translateY(-50%); /* Center vertically */
      align-self: center; /* Center the profile picture container */
      margin-top: 5vw;
    }

    .profile-picture {
      width: 100%; /* Make the profile picture fill the container */
      height: auto; /* Maintain aspect ratio */
    }
  
    .hello {
      font-size: 4vw; /* Adjust the font size of the text */
    } 
    
    .intro-description {
      font-size: 2vw; /* Adjust the font size of the text */
      
    }
    .social-links img {
      height: 6vw; /* Adjust social icons size */
      max-height: 30px; /* Set a max size for the icons */
    }
  }

  @media (max-width: 709px) {
    .profile-picture-container {
      max-width: 40vw;
      max-width: 40vw;
    }
  }

  @media (max-width: 634px) {
    .profile-picture-container {
      max-width: 40vw;
      max-width: 40vw;
    }
  }
  
  @media (max-width: 480px) {
    #intro {
      position: relative; /* Parent container must be relative if child is absolute */
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center; /* Center children horizontally */
      align-items: center; /* Center children vertically */
      overflow: hidden; /* To avoid scrolling if content overflows */
    }
    
    .intro-content {
      max-width: 80vw; /* Use viewport width units for max-width */
    
      margin-left: 1vw;
      margin-top: 10vw;
    }

    .profile-picture-container {
      width: 50vw; /* Adjust the size of the profile picture */
      height: 50vw;
      top: 0; /* Align to the top of the parent container */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%); 
      align-self: center; /* Center the profile picture container */
      margin-top: 5vw;
    }

    .profile-picture {
      width: 60vw; /* Scale with the viewport width */
      height: 60vw; /* Maintain the aspect ratio */
   
    }
  
    .hello {
      font-size: 6vw; /* Adjust the font size of the text */
    } 
  
    .intro-description {
      font-size: 3vw; /* Adjust the font size of the text */
      
    }
  
    .social-links img {
      height: 6vw; /* Adjust social icons size */
      max-height: 30px; /* Set a max size for the icons */
    }

    .social-links {
      display: flex;
      margin-top: 1rem;
    }
  }

  @media (max-width: 450px) {

    #intro {
      position: relative; /* Parent container must be relative if child is absolute */
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center; /* Center children horizontally */
      align-items: center; /* Center children vertically */
      overflow: hidden; /* To avoid scrolling if content overflows */
    }
    
  
    .intro-content {
      position: absolute; /* Position it absolutely within #intro */
      top: 25%; /* Center vertically */
      left: 10%; /* Center horizontally */
      max-width: 80vw; /* Responsive max-width based on viewport width */
      z-index: 2; /* Ensure it's above the background image */
      color: white;
      box-sizing: border-box; /* Include padding in width calculations */
      text-align: left; /* Center the text */
     
    }

    .profile-picture-container {
      width: 50vw; /* Adjust the size of the profile picture */
      height: 50vw;
      top: 0; /* Align to the top of the parent container */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%); 
      align-self: center; /* Center the profile picture container */
      margin-top: 5vw;
    }

    .profile-picture {
      width: 60vw; /* Scale with the viewport width */
      height: 60vw; /* Maintain the aspect ratio */
   
    }
  
    .hello {
      font-size: 5vw; /* Adjust the font size of the text */
    } 
  
    .intro-description {
      font-size: 3vw; /* Adjust the font size of the text */
      
    }
  
    .social-links img {
      height: 8vw; /* Adjust social icons size */
      max-height: 50px; /* Set a max size for the icons */
    }
  }

  
  
  