#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    position: relative;
}

.bg-container {
    position: absolute;
    padding-right: 100px;
    top: 0;
    right: 0;
    z-index: 2;
    
}

.bg {
    border-radius: 50%; /* Makes the image round */
    width: 400px; /* Adjust to the size you want */
    height: 400px; 
    object-fit: cover;
    padding-bottom: 20px;
  }
  
  /* Add this if you need to center the image */


.introContent {
    height: 100vh;
    width: 100vw;
    padding-top: 4rem;
    padding-left: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.subtitle {
    font-size: medium;
    font-weight: 300;
}

.links {
    padding-top: 50px;
    align-items: center;
}





@media screen and (max-width:840px) {
    .bg {
        right: -10vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw
    }
}