
#intro {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 100px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
  
.introContent {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;
}

.picture-container {
    position: absolute;
    padding-right: 250px;
    top: 0;
    right: 0;
    z-index: 2;
    
    
}

.bg {
    border-radius: 50%; /* Makes the image round */
    width: 500px; /* Adjust to the size you want */
    height: 500px; 
    object-fit: cover;
    margin-top: 35px;
    border: 2px solid rgba(255, 255, 255, 0.4); 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05); 
   
  }
  
  .bg:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15); /* Larger and lighter shadow on hover for a "lifted" effect */
}



.hello {
    font-size: 2.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.subtitle {
    font-size: medium;
    font-weight: 300;
}

.social-links {
    padding-top: 50px;
    align-items: center;
}

.social-link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
}





@media screen and (max-width: 1500px) {
    #intro {
        height: 100vh;
        width: 100vw;
    }

    .introContent {
        height: 100%;
        width: 100%;
        font-size: 2.5rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10;
        position: relative;
        border: 2px solid green;
    }

    .picture-container {
        position: absolute;
        top: 50%; /* Center vertically */
        left: 50%; /* Center horizontally */
        transform: translate(-50%, -50%); /* Adjust for the size of the container */
        z-index: 2;
        border: 2px solid red;
    }

    .bg {
        border-radius: 50%; /* Makes the image round */
        width: 300px; /* Adjust to the size you want */
        height: 300px;
        object-fit: cover;
        border: 2px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  /* styles */
}

/* Larger iPhones (Plus/Max models) */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  /* styles */
}