
#intro {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 100px;
}

.video-background video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
  
.introContent {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 10px;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;
}

.picture-container {
    position: absolute;
    padding-right: 250px;
    top: 0;
    right: 0;
    z-index: 2;
    
}

.bg {
    border-radius: 50%; /* Makes the image round */
    width: 500px; /* Adjust to the size you want */
    height: 500px; 
    object-fit: cover;
    padding-bottom: 20px;
    margin-top: 35px;
  }
  



.hello {
    font-size: 2.75rem;
    font-weight: 100;
}

.introName {
    color: yellow;
}

.subtitle {
    font-size: medium;
    font-weight: 300;
}

.social-links {
    padding-top: 50px;
    align-items: center;
}

.social-link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 20px;
}





@media screen and (max-width:840px) {
    .bg {
        right: -10vw
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {
    .bg {
        right: -20vw
    }
}