.experience-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    margin-bottom: 30rem;
  }

  .experience-text-container {
    padding: 1.5rem;
    width: 100%;
  }

  .left-right-container {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start;
    flex-wrap: wrap;
  }


.experience-left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    min-height: 100%;
    width: 60%;
    min-width: 40%;
   
  }
  
  .experience-right {
    width: 40%;
    max-width: 40%;
    min-height: 100dvh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
  
 
  .exp-yellow {
    color: yellow;
  }

  .experience-text-container h2 {
    font-size: calc(5rem + 1vw);
  }

  .experience-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70dvh;
    max-height: 70dvh;
  }

  .experience-image {
    width: 100%; 
    height: 100%; 
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
    max-height: 100%; /* Ensure the image doesn't exceed the container's height */
    object-fit: contain; 
    filter: drop-shadow(0px 2px 5px rgb(226, 225, 219));
  } 
  
  
  
  /* Experience Card */
  .experience-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    margin-bottom: 1rem; 
    background: transparent;
  
  }

  .card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    min-height: 100%;
    padding-left: 2rem;
  }

  .card-left p {
    font-size: calc(1rem + 0.5vw);
    font-weight: 200;
  }


  .card-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .company-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
  }

  .company-row h2 {
    font-size: calc(2rem + 1.2vw);
    font-weight: 800;
    color: yellow;
    margin-right: 2rem;
  }

  .company-title-container {
    height: 100%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5%;
  }

  .company-title-container h3 {
    font-size: calc(0.8rem + 1.2vw);
    font-weight: 500;
   
  }

  .company-website-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.8%;
  }

  .company-website-container p {
    font-size: calc(1.2rem + 0.5vw); /* Responsive font size */
    color: rgb(140, 84, 251);
  }

  .responsibility-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .responsibilities-contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .responsibilities-contaner p {
    font-size: calc(1.2rem + 0.5vw); /* Responsive font size */
    font-weight: 300;
  }


  .company-tech-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 2rem;
  }

  .company-tag-container {
    border:  1px solid #9237a9;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    margin-right: 1.4rem;
    box-shadow: 0 0 0.6rem #2E1E41;
    width: 12rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .company-tag-container p {
    font-size: calc(0.4rem + 0.5vw); /* Responsive font size */
    color: yellow;
    font-weight: 500;
  }


  @media (max-width: 2030px) {
    .company-tech-tags {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 2rem;
      width: 100%; 
      margin: 2 auto;
    }
  
  }


  @media (max-width: 1760px) {
    .experience-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100dvh;
      width: 100%;
      margin-bottom: 30rem;
    }
  
    .experience-text-container {
      padding: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .experience-text-container h2 {
      font-size: 4.5vw;
    }
  
    .left-right-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
  
  .experience-left {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: flex-start;
      height: 100%;
      width: 100%;
    }
    
    .experience-right {
      display: none;
    }
  
    .exp-yellow {
      color: yellow;
    }

    .company-tag-container p {
      font-size: calc(0.6rem + 0.5vw); /* Responsive font size */
      color: yellow;
      font-weight: 500;
    }

  }



  @media (max-width: 1000px) {
    .experience-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100dvw;
      margin-bottom: 30rem;
    }
  
    .experience-text-container {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .experience-text-container h2 {
      font-size: 7.5vw;
    }
  
    .left-right-container {
      height: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
  
  .experience-left {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 100%;
      width: 100dvw;
      padding-left: 2vw;
    }
    
    .experience-right {
      display: none;
    }
  
    .exp-yellow {
      color: yellow;
    }

    .experience-card {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding-top: 1rem; 
      padding-bottom: 1rem; 
      margin-bottom: 1rem; 
      background: transparent;
    }
  
    .card-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  
    .company-row {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      margin-bottom: 1.2rem;
    }
  
    .company-row h2 {
      font-size: calc(2rem + 1.2vw);
      font-weight: 800;
      color: yellow;
      margin-right: 2rem;
    }
  
    .company-title-container {
      height: 100%;
      margin-right: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .company-title-container h3 {
      font-size: calc(1rem + 1.2vw);
      font-weight: 500;
      padding-bottom: 0.5vh;
    }
  
    .company-website-container {
     display: none;
    }
  
    .company-website-container p {
     display: none;
    }

    .time-frame-contaner {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 0.5rem;
    }


    .time-frame {
      font-size: 1.4rem;
      font-weight: 500;
    }
  
    .responsibility-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  
    .responsibilities-contaner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
    }
  
    .responsibilities-contaner p {
      font-size: calc(1.2rem + 0.5vw); /* Responsive font size */
      font-weight: 300;
    }
  
  
    .company-tech-tags {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 2rem;
      width: 100%; 
      margin: 2 auto;
      padding-right:2vw;
    }

    .company-tag-container {
      border:  1px solid #9237a9;  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 20px;
      margin-right: 1.4rem;
      box-shadow: 0 0 0.6rem #2E1E41;
      width: 12rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  
    .company-tag-container p {
      font-size: calc(0.7rem + 0.5vw); /* Responsive font size */
      color: yellow;
      font-weight: 500;
    }
  
  }